// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Font mixins
@mixin bricolage-grotesque {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@mixin inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@import 'variables';
@import 'animations';
@import 'navbar';
@import 'hero';
@import 'works';
@import 'benefits';
@import 'about';
@import 'process';
@import 'contact';
@import 'footer';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    background-color: whitesmoke;
    color: $text-color;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @include bricolage-grotesque;
}
